.markers-selectors-wrapper {
	color: rgba(255, 255, 255, 1);
	position: absolute;
	background-color: rgba(23, 23, 34, 1);
	z-index: 4;
	bottom: 30px;
	right: 7px;
	border-radius: 10px;
}
.markers-selectors-item {
	display: grid;
	grid-template-columns: min-content 1fr;
	padding: 7px;
	cursor: pointer;
	align-items: center;
	font-size: 0.8em;
	padding-right: 15px;
}
.markers-selectors-image {
	width: 20px;
	padding-right: 10px; 
}