.wrapper {
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "hd"
    "mn";
}
.yu-header{
  grid-area: hd;
}
.main {
  grid-area: mn;
}