$background-color: rgba(23, 23, 34, 1);

body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: rgba(23, 23, 32, 1);
}
.App {
  background-color: $background-color;
  overflow: hidden;
  display: grid;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  grid-template-columns: 5fr 14fr;
  padding: 5px;
  grid-gap: 5px;
  grid-template-areas:
    "s m";
}
.sidebar {
  grid-area: s;
}
.maps {
  grid-area: m;
}
// mobile-style
@media screen and (max-width: 1000px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 8fr 3fr;
    grid-template-areas:
      "m"
      "s";
  }
}